<nav>
  <div class="navbar-content">
    <div class="navbar-logo" routerLink="/publicaciones">
      <img src="assets/favicon.svg" alt="Pulsus Logo" class="navbar-logo-img" />
      Pulsus
    </div>
    <ul [class.navbar-mobile-open]="menuAbierto" class="navbar-links">
      @if (authService.getUser()) {
      <li>
        <a
          routerLink="/publicaciones"
          routerLinkActive="active"
          (click)="cerrarMenu()"
          >Publicaciones</a
        >
      </li>
      <li>
        <a
          routerLink="/mi-perfil"
          routerLinkActive="active"
          (click)="cerrarMenu()"
          >Mi Perfil</a
        >
      </li>
      @if (authService.getUser()?.perfil === 'administrador') {
      <li>
        <a
          routerLink="/dashboard/usuarios"
          routerLinkActive="active"
          (click)="cerrarMenu()"
          ><i class="fa fa-users-cog"></i> Usuarios</a
        >
      </li>
      }
      <li>
        <a href="#" class="logout-link" (click)="logout($event)">
          <i class="fa fa-sign-out-alt"></i> Cerrar sesión
        </a>
      </li>
      } @if (!authService.getUser()) {
      <li>
        <a routerLink="/login" routerLinkActive="active" (click)="cerrarMenu()"
          >Login</a
        >
      </li>
      <li>
        <a
          routerLink="/register"
          routerLinkActive="active"
          (click)="cerrarMenu()"
          >Registrarse</a
        >
      </li>
      }
    </ul>
    <button class="navbar-hamburger" (click)="toggleMenu()">
      <i class="fa fa-bars"></i>
    </button>
    @if (menuAbierto) {
    <div class="navbar-overlay" (click)="cerrarMenu()"></div>
    }
  </div>
</nav>
