@if (visible) {
<div class="modal-backdrop" (click)="onBackdropClick($event)"></div>
<div class="modal">
  <div class="modal-content">
    <button
      class="btn-eliminar-publicacion-x modal-close"
      (click)="cancelar.emit()"
      title="Cerrar"
      type="button"
    >
      ×
    </button>
    <div class="modal-icon info">
      <i class="fa" [ngClass]="icono"></i>
    </div>
    <h4>{{ titulo }}</h4>
    <p>{{ mensaje }}</p>
    <ng-content></ng-content>
    <!-- Como me voy a olvidar esto?? -->
    <div class="modal-actions">
      <button (click)="aceptar.emit()" class="btn btn-danger">
        {{ textoAceptar }}
      </button>
      @if (textoCancelar) {
      <button (click)="cancelar.emit()" class="btn btn-secondary">
        {{ textoCancelar }}
      </button>
      }
    </div>
  </div>
</div>
}
